<!-- About Section -->
<section class="page-section bg-primary" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <h1 class="text-success mt-0">Who Are We?</h1>
                <hr class="divider light my-4">
                <div class="row align-content-center">
                    <div class="col-md-6 d-inline-block m-auto">
                        <p class="text-dark text-left my-auto align-middle" style="text-align: justify !important;">
                            <%- aboutUsBodyStarting %>
                            <% for (var i = 0; i < charitiesAndLink.length - 1;  i++ ) { %>
                                <a class="about-us-links"
                                   href="<%= charitiesAndLink[i].charityLink %>"> <%= charitiesAndLink[i].charityName %></a><%= charitiesAndLink[i].additionText %>,
                            <% } %>
                            <!-- Print out the last charity-->
                            and <a class="about-us-links"
                                   href="<%= charitiesAndLink[charitiesAndLink.length - 1].charityLink %>"> <%= charitiesAndLink[charitiesAndLink.length - 1].charityName %></a><%= charitiesAndLink[i].additionText %><%= aboutUsBodyEnding %>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 rounded-corner" src="img/who are we 1.jpg" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 rounded-corner" src="img/who are we 2.jpg" alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 rounded-corner" src="img/who are we 3.JPG" alt="Third slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 rounded-corner" src="img/who are we 4.jpg" alt="Fourth slide">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>