<section class="py-5" id="announcement">
    <div class="container">
        <h1 class="text-center mt-0 text-dark"><%- announcement.title %></h1>
        <hr class="divider my-4">
        <h4 class="text-center m-4"><%- announcement.paragraph1 %></h4>
        <h4 class="text-center m-4"><%- announcement.paragraph2 %></h4>
        <h4 class="text-center m-4"><%- announcement.paragraph3 %></h4>
        <h4 class="text-center m-4"><%- announcement.paragraph4 %></h4>

    </div>
</section>
