<!-- Q&A Section -->
<section class="py-5 bg-light" id="be-a-vendor">
    <div class="container">
        <div class="row">
            <div class="mb-4 col-12 text-center text-dark">
                <h1><%- beAVendor.beAVendorTitle %></h1>
                <hr class="divider my-4">
            </div>

            <div class="p-3 col-lg-6 col-md-12">
                <div class="card h-100 rounded-corner" id="be-a-vendor-card1">
                    <div class="card-body">
                        <h4 class="card-title"><%- beAVendor.item2.title %></h4>
                        <p><%- beAVendor.item2.subtext.subtext1 %></p>
                        <p><%- beAVendor.item2.subtext.subtext2 %></p>
                    </div>
                </div>
            </div>

            <div class="p-3 col-lg-6 col-md-12">
                <div class="card h-100 rounded-corner" id="be-a-vendor-card2">
                    <div class="card-body">
                        <h4 class="card-title"><%- beAVendor.item3.title %></h4>
                        <p><%- beAVendor.item3.subtext.subtext1 %>​</p>
                        <ul class="text-danger">
                            <li><%- beAVendor.item3.subtext.subtext2.option1 %></li>
                            <li><%- beAVendor.item3.subtext.subtext2.option2 %></li>
                            <li><%- beAVendor.item3.subtext.subtext2.option3 %></li>
                        </ul>
                        <p>
                            <%- beAVendor.item3.subtext.subtext3 %>
                        </p>
                    </div>
                </div>
            </div>

            <div class="p-3 col-lg-6 col-md-12">
                <div class="card h-100 rounded-corner" id="be-a-vendor-card3">
                    <div class="card-body">
                        <h4 class="card-title"><%- beAVendor.item1.title %></h4>
                        <p><%- beAVendor.item1.subtext.subtext1 %></p>
                        <p><%- beAVendor.item1.subtext.subtext2 %></p>
                    </div>
                </div>
            </div>

            <div class="p-3 col-lg-6 col-md-12">
                <div class="card h-100 rounded-corner" id="be-a-vendor-card4">
                    <div class="card-body">
                        <h4 class="card-title"><%- beAVendor.item4.title %></h4>
                        <p><%- beAVendor.item4.subtext.subtext1 %></p>
                        <p><%- beAVendor.item4.subtext.subtext2 %></p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
