<!DOCTYPE html>
<html lang="en">

<%- include('head', {}); %>

<body>

<section class="page-section" id="contact">
    <div class="container text-center">
        <h1 class="my-5">Welcome to the dashboard, administrator!</h1>
        <div class="card row shadow rounded bg-white">
            <div class="card-body">
                <h3>Upcoming Events</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Event Date</th>
                        <th scope="col">Event Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for (var i = 0; i < comingEvent.length;  i++ ) { %>
                        <tr>
                            <% date = new Date(comingEvent[i].EVENT_DT.toString()); %>
                            <% year = date.getFullYear(); %>
                            <% month = date.getMonth() + 1; %>
                            <% dt = date.getDate(); %>
                            <% if (dt < 10) { %>
                                <% dt = '0' + dt; %>
                            <% } %>
                            <% if (month < 10) { %>
                                <% month = '0' + month; %>
                            <% } %>

                            <% var eventTypeFull; %>
                            <% if (comingEvent[i].EVENT_TYPE === "WM") { %>
                                <% eventTypeFull = 'Weekly Market'; %>
                            <% } %>
                            <% if (comingEvent[i].EVENT_TYPE === "SF") { %>
                                <% eventTypeFull = 'Spring Fling'; %>
                            <% } %>
                            <% if (comingEvent[i].EVENT_TYPE === "FF") { %>
                                <% eventTypeFull = 'Fall Festival'; %>
                            <% } %>
                            <% if (comingEvent[i].EVENT_TYPE === "CC") { %>
                                <% eventTypeFull = 'Christmas Craft Fair'; %>
                            <% } %>

                            <td><%= month + '-' + dt + '-' + year %></td>
                            <td><%= eventTypeFull %> </td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>

        <hr class="m-5">

        <div class="card row shadow rounded bg-white">
            <div class="card-body">
                <h3>Add/Update A New Event</h3>
                <form action="/add-a-new-event" method="post">
                    <div class="form-group row">
                        <label for="date-input" class="col-2 col-form-label">Date: </label>
                        <div class="col-10">
                            <input class="form-control" type="date" id="date-input" name="dateInput" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inlineFormCustomSelect" class="col-2 col-form-label">Event Type: </label>
                        <select class="custom-select col-10" id="inlineFormCustomSelect" name="eventType">
                            <option selected value="WM">Weekly Market</option>
                            <option value="SF">Spring Fling</option>
                            <option value="FF">Fall Festival</option>
                            <option value="CC">Christmas Craft Fair</option>
                        </select>
                    </div>
                    <div class="form-group row align-content-center d-inline">
                        <button class="btn-dark col-7" type="submit">Add or Update</button>
                    </div>
                </form>
            </div>
        </div>

        <hr class="m-5">

        <div class="card row shadow rounded bg-white">
            <div class="card-body">
                <h3>View All Customer For The Event</h3>
                <form action="/view-all-customer" method="post">
                    <div class="form-group row">
                        <label for="date-input2" class="col-2 col-form-label">Pick A Date: </label>
                        <div class="col-10">
                            <input class="form-control" type="date" id="date-input2" name="dateInput2" required>
                        </div>
                    </div>
                    <div class="form-group row align-content-center d-inline">
                        <button class="btn-dark col-7" type="submit">View All Customer</button>
                    </div>
                </form>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Items to sell</th>
                        <th scope="col">Space Number</th>
                    </tr>
                    </thead>
                    <tbody>

                    <% for (var j = 0; j < customerInfo[0].length;  j++ ) { %>
                        <tr>
                            <td><%= customerInfo[0][j].FIRST_NM %></td>
                            <td><%= customerInfo[0][j].LAST_NM %></td>
                            <td><%= customerInfo[0][j].PHONE %></td>
                            <td><%= customerInfo[0][j].EMAIL %></td>
                            <td><%= customerInfo[0][j].ITEM_NAME %></td>
                            <td><%= customerInfo[0][j].SPACE_ID %></td>
                        </tr>
                    <% } %>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<%- include('footer', {}); %>

<%- include('scripts', {}); %>

</body>

</html>
