<!DOCTYPE html>
<html lang="en">

<%- include('head', {}); %>

<body id="page-top">
    <div id="wrapper">
        <%- include('nav', {}); %>

        <%- include('home-page', {}); %>

        <%- include('about', {}); %>

        <%- include('what-is-available', {}); %>

        <% if (announcement.switch === "ON") { %>
            <%- include('announcement', {}); %>
        <% } %>

        <% if (specialEvent.specialEventSwitch === "ON") { %>
            <%- include('special-event', {}); %>
        <% } %>

        <%- include('be-a-vendor', {}); %>

        <%- include('reservation', {}); %>

        <%- include('contact', {}); %>

        <%- include('footer', {}); %>

        <%- include('scripts', {}); %>
    </div>
</body>

</html>
