<!-- Reservation Section -->
<section class="py-5" id="reservation">
    <div class="container text-center">
        <h1 class="mb-4 text-dark"><%= reservation.title%></h1>
        <hr class="divider my-4">

        <% if (specialEvent.specialEventSwitch !== 'ON' && weeklyMarket.weeklyMarketSwitch !== 'ON') { %>
            <%- include('no-registration', {}); %>
        <% } %>

        <% if (specialEvent.specialEventSwitch === 'ON' && weeklyMarket.weeklyMarketSwitch === 'ON') { %>
            <%- include('two-event-forms', {}); %>
        <% } %>

        <% if (specialEvent.specialEventSwitch !== 'ON' && weeklyMarket.weeklyMarketSwitch === 'ON') { %>
            <%- include('single-weekly-market-form', {}); %>
        <% } %>

        <% if (specialEvent.specialEventSwitch === 'ON' && weeklyMarket.weeklyMarketSwitch !== 'ON') { %>
            <%- include('single-special-event-form', {}); %>
        <% } %>

    </div>
</section>
