<div class="row my-5 text-center d-inline">
    <h4>Upcoming Weekly Market Date: <%= weeklyMarket.weeklyMarketDate %></h4>
</div>
<div class="row my-5 text-left d-inline">
    <h6 class="my-2"><%= weeklyMarket.weeklyMarketWriteUp.paragraph1 %></h6>
    <h6 class="my-2"><%= weeklyMarket.weeklyMarketWriteUp.paragraph2 %></h6>
    <h6 class="my-2"><%= weeklyMarket.weeklyMarketWriteUp.paragraph3 %></h6>
    <h6 class="my-2"><%= weeklyMarket.weeklyMarketWriteUp.paragraph4 %></h6>
</div>
<div class="row my-5 text-center d-inline">
    <h6><%= weeklyMarket.weeklyMarketExplanation %></h6>
</div>
<div class="row">
    <div class="col-lg-6">
        <img class="img-fluid map-rounded" src="img/market-spaces/Spaces - Main Field.jpg"
             alt="Main Field">
    </div>
    <div class="col-lg-6 my-auto px-4 pt-4">
        <form method="post" action="/">
            <input type="hidden" id="eventType" name="eventType" value= "WM">
            <input type="hidden" id="eventDate" name="eventDate" value=<%= weeklyMarket.weeklyMarketDate %>>
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="inputFirstName" class="text-white">First name</label>
                    <input type="text" class="form-control" id="inputFirstName" name="firstName"
                           maxlength="25"
                           required>
                </div>
                <div class="form-group col-6">
                    <label for="inputLastName" class="text-white">Last name</label>
                    <input type="text" class="form-control" id="inputLastName" name="lastName"
                           maxlength="25"
                           required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputSell" class="text-white">Items being sold - NO FRANCHISE SALES</label>
                <input type="text" class="form-control" id="inputSell" name="selling" maxlength="20"
                       required>
            </div>
            <div class="form-row">
                <div class="form-group col-5">
                    <label for="inputPhone" class="text-white">Phone number</label>
                    <input type="tel" class="form-control" id="inputPhone" name="phone" maxlength="14"
                           required>
                </div>
                <div class="form-group col-7">
                    <label for="inputEmail" class="text-white">Email address</label>
                    <input type="email" class="form-control" id="inputEmail" name="email" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputSpot" class="text-white">Choose a space</label>
                <select id="inputSpot" class="form-control" name="spot">
                    <% for (var i = 0 ; i < weeklyMarket.spaces[0].length; i++) { %>
                        <option> <%= weeklyMarket.spaces[0][i].SPACE_ID %></option>
                    <% } %>
                </select>
            </div>
            <button type="button" class="btn btn-secondary btn-xl mt-3 col-8" data-toggle="modal"
                    data-target="#exampleModalLong" id="reserve-button">Reserve & Pay
            </button>

            <p class="my-3 col-12" id="agreement-message"><i class="far fa-check-circle"></i>&nbsp;&nbsp;You've
                agreed our term of services</p>
            <button type="submit" class="btn btn-success btn-xl mt-3 col-8" id="pay-button" disabled>Pay
                Now

            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-dark" id="exampleModalLongTitle">Term of
                                Services</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="text-dark text-left">
                                <%- reservation.termOfServices.paragraph1 %>
                            </p>
                            <p class="text-dark text-left">
                                <%- reservation.termOfServices.paragraph2 %>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                            </button>
                            <button type="button" class="btn btn-success" data-dismiss="modal"
                                    onclick="agreeTermOfService()">I Agree
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 my-5">
        <button class="btn btn-dark" type="button" data-toggle="collapse"
                data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <i class="fas fa-chevron-circle-down"></i>&nbsp;&nbsp;Show parking information
        </button>
        <div class="collapse my-3" id="collapseExample">
            <div class="card card-body text-dark text-left">
                <%- include('parking-info', {}); %>
            </div>
        </div>
    </div>
</div>