<section class="page-section" id="special-event">
    <div class="container">
        <h1 class="text-center mt-0 text-success"><%= specialEvent.specialEventTitle %></h1>
        <hr class="divider my-4 light">
        <h5 class="text-success text-center m-4">
            <%= specialEvent.specialEventWriteUp.infoSection1 %>
        </h5>
        <h3 class="text-success text-center m-4"><%= specialEvent.specialEventWriteUp.bold1 %></h3>
        <h5 class="text-success text-center m-4"><%= specialEvent.specialEventWriteUp.infoSection2 %></h5>
        <h3 class="text-success text-center m-4"><%= specialEvent.specialEventWriteUp.bold2 %></h3>
        <h5 class="text-success text-center m-4"><%= specialEvent.specialEventWriteUp.infoSection3 %></h5>
        <h6 class="text-success text-center m-4"><%= specialEvent.specialEventWriteUp.comment %></h6>
        <h5 class="text-success text-center m-4"><%= specialEvent.specialEventWriteUp.whenIsIt %></h5>
        <h5 class="text-success text-center m-4"><%= specialEvent.specialEventWriteUp.closing %></h5>

    </div>
</section>